<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="uid" value="cd279a7c988afeabbea999c66b294be4c99d466db9d5032ba00150124f0b00a1" />
    <add key="secret" value="6bee88f143ee21b09b7054e800eaba918fb45890151088819e040ebc83f743de" />
    <add key="callbackurl" value="http://localhost:49864/Callback.aspx" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>